@charset "UTF-8";
/* https://piccalil.li/blog/a-modern-css-reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove focus for mouse users */
:focus:not(:focus-visible) {
  outline: none;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin */
:is(body, h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
  margin: 0;
}

/* 2023-01-18 : Modified for CEFIM
Remove list styles, margin and padding on ul, ol elements with a class, which suggests default styling will be removed */
:is(ul, ol):where([class]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
:is(h1, h2, h3, h4, button, input, label) {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
:is(h1, h2, h3, h4) {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Anything that has been anchored to should scroll and have extra scroll margin */
:has(:target) {
  scroll-behavior: smooth;
  scroll-margin-block: 2.5em;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* CSS Debugger */
* {
  /* outline: 1px solid red; */
}

img:not([alt]) {
  border: 10px solid red !important;
}

/* Set cursor pointer */
label[for],
button,
input[type=submit],
select {
  cursor: pointer;
}

/* Remove font style on address */
address {
  font-style: normal;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

/* Print external URLs */
@media print {
  a[href]:not([href^="#"])::after {
    content: "(" attr(href) ")";
  }
}
/*J'ai télécharger les polices de Google en local pour éviter toutes dépendances*/
/* lato-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v24-latin-regular.woff2") format("woff2");
}
/* lato-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v24-latin-700.woff2") format("woff2");
}
/* lato-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v24-latin-900.woff2") format("woff2");
}
/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v26-latin-regular.woff2") format("woff2");
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v26-latin-700.woff2") format("woff2");
}
:root {
  /*Colors*/
  --white: #EFEDE7;
  --grey: #352F44;
  --light-grey: #D9D9D9;
  --light-green: #42DCBD;
  --green: #005D58;
  --yellow: #F5C24B;
  /*TODO delete quand j'aurais géré les thèmes*/
  --text: var(--grey);
  --bg: var(--white);
  --custom: var(--light-green);
  --normal-font: "Lato", "Segoe UI", sans-serif;
  --title-font: "Montserrat", "Segoe UI", sans-serif;
}

/* TODO [data-theme="dark"]*/
/*@media (prefers-color-scheme: dark){
    :root {
        --text: var(--white);
        --bg: var(--grey);
        --custom: var(--yellow);
    }
}*/
/*[data-theme="light"]*/
@media (prefers-color-scheme: light) {
  :root {
    --text: var(--grey);
    --bg: var(--white);
    --custom: var(--light-green);
  }
}
body {
  font-family: var(--normal-font);
  font-size: 1rem;
  line-height: 1.75;
  font-weight: 400;
  font-style: normal;
  color: var(--text);
  background-color: var(--bg);
}

body {
  text-wrap: pretty;
}

::first-letter {
  text-transform: uppercase;
}

:is(h1, .h1, h2, .h2, .work-title) {
  font-family: var(--title-font);
}

:is(h1, .h1) {
  font-size: 3.75rem;
  line-height: 1.4666666667;
}

:is(h2, .h2) {
  font-size: 2.5rem;
  line-height: 3;
}

:is(h3, .h3) {
  font-size: 1.25rem;
  line-height: 2.8;
}

:is(h4, .h4) {
  font-size: 1.25rem;
  line-height: 2.8;
}

@media screen and (min-width: 48em) {
  :is(h1, .h1) {
    font-size: clamp(3.75rem, 1.75rem + 4.167vw, 5.5rem);
  }
  :is(h2, .h2) {
    font-size: clamp(2.5rem, 0.208rem + 4.769vw, 4.5rem);
  }
  :is(h3, .h3) {
    font-size: clamp(1.25rem, -0.756rem + 4.173vw, 3rem); /*Note : je suis mon plan pour le moment mais ça fait gros*/
  }
  :is(h4, .h4) {
    font-size: clamp(1.25rem, 0.104rem + 2.385vw, 2.25rem);
  }
}
.work-title {
  text-transform: uppercase;
}

.container {
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

/*___Tablette à partir de 768px___*/
@media screen and (min-width: 48em) {
  .container {
    max-width: 80%;
  }
}
/*___Desktop à partir de 1200px___*/
@media screen and (min-width: 75em) {
  .container {
    max-width: 70%;
  }
}
/*___Accessibilité : liens d'évitement___*/
.skip-links a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  color: var(--bg);
  background-color: var(--text);
  padding: 1rem;
  margin-inline: 0.5rem;
  top: -100vh;
}

.skip-links a:focus {
  top: 2rem;
}

/*______________Navigation ______________*/
.nav {
  position: sticky;
  top: 0;
  z-index: 10000;
}

.nav .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

/*______________Header ______________*/
.main-header {
  display: grid;
}

.container-tif {
  order: -1;
  justify-content: center;
}

.container-tif img {
  margin-inline: auto;
}

/*___Tablette___*/
@media screen and (min-width: 48em) {
  .main-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.5rem;
  }
  .main-header-content {
    margin-inline: auto;
    align-content: center;
  }
}
/*___Desktop___*/
/*______________Main ______________*/
.languages, .about-skills, .call-to-action {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* Haha ! Tout se déplace suivant la taille de l'écran.
Testons avec grid-template-areas !

Pour le moment pas de JS. Mais ça sera dynamique. Je fais comme si tout était ouvert puis je ferme. Je commenterais la fermeture.

Je met également un peu de couleur pour me repérer, un petit dégradé HSL, je n'ai pas testé le contraste. C'est uniquement pour le développement*/
.work-title {
  grid-area: w-title;
  background-color: #ff5b25;
}

.work p {
  grid-area: w-txt;
  background-color: #ff6c40;
}

.about-skills {
  grid-area: w-skills;
  background-color: #ff8059;
}

.more {
  grid-area: w-plus;
  background-color: #ff9373;
}

.code {
  grid-area: w-code;
  background-color: #ff9373;
}

.site {
  grid-area: w-site;
  background-color: #ff9373;
}

.work img {
  grid-area: w-img;
  background-color: #00c2c2;
}

/*___Mobile___*/
@media screen and (max-width: 47.99em) {
  .work {
    display: grid;
    grid-template-areas: "w-title  w-title w-title" "w-img    w-img   w-img" "w-plus   w-plus  w-plus" "w-txt    w-txt   w-txt" "w-skills w-code  w-site";
  }
  /*.site, .code, .work .text-content, .about-skills {
    display: none;
  }*/
}
/*___Tablette___*/
@media screen and (min-width: 48em) {
  .work {
    display: grid;
    grid-template-areas: "w-title  w-title" "w-img    w-site" "w-img    w-code" "w-img    w-plus" "w-txt    w-txt" "w-skills w-skills";
  }
  /*.text-content, .about-skills {
    display: none;
  }*/
}
/*___Desktop___*/
@media screen and (min-width: 75em) {
  .work {
    display: grid;
    grid-template-areas: "w-img    w-title  w-title  w-title" "w-img    w-txt    w-txt    w-txt" "w-img    w-plus   w-site   w-code" "w-skills w-skills w-skills w-skills";
  }
  /*.about-skills {
  display: none;
  }*/
}
/*___Typography--*/
.nav {
  font-family: var(--title-font);
  background-color: var(--bg);
}

/*___Mobile___*/
/*TODO se renseigner sur la fonctionnalité Popover, pas encore supporté par Firefox mais 80% sur caniuse. */
@media screen and (max-width: 35.99em) {
  .burger-btn {
    display: grid;
    border: 0;
    padding: 0.5rem;
  }
  .list-menu[hidden] {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: scaleY(0);
  }
  .list-menu {
    display: grid;
    gap: 2rem;
    background: var(--light-grey);
    position: absolute;
    right: 0;
    left: 0;
    top: 0.5rem;
    text-align: center;
    padding: 2rem;
    padding-block-end: 9rem;
    transform: translateY(4rem);
    overflow: hidden;
  }
}
/*Supérieur à mobile */
@media screen and (min-width: 36em) {
  .burger-btn {
    display: none;
  }
  .list-menu {
    display: flex;
    flex-direction: row;
    gap: clamp(0rem, -1.84rem + 5.12vw, 2rem);
  }
  .link-menu-item {
    padding: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
