:root{
    /*Colors*/
    --white : #EFEDE7;
    --grey : #352F44;
    --light-grey : #D9D9D9;
    --light-green: #42DCBD;
    --green : #005D58;
    --yellow: #F5C24B;

    --normal-font : 'Lato', 'Segoe UI', sans-serif;
    --title-font : 'Montserrat', 'Segoe UI', sans-serif;
}

/* TODO [data-theme="dark"]*/
/*@media (prefers-color-scheme: dark){
    :root {
        --text: var(--white);
        --bg: var(--grey);
        --custom: var(--yellow);
    }
}*/

/*[data-theme="light"]*/
@media (prefers-color-scheme: light){
    :root {
        --text: var(--grey);
        --bg: var(--white);
        --custom: var(--light-green);
    }
}

body{
    font-family: var(--normal-font);
    font-size: 1rem;
    line-height: 1.75;
    font-weight: 400;
    font-style: normal;
    color:var(--text);
    background-color: var(--bg);
}