.container{
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

/*T à partir de 768px */
@media screen and (min-width: 48em) {
  .container {
    max-width: calc(100% - 5rem - 5rem);
  }
}

/*D à partir de 1200px */
@media screen and (min-width: 75em) {
  .container {
    max-width: calc(100% - 10rem - 10rem);
  }
}