.container{
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

/*___Tablette à partir de 768px___*/
@media screen and (min-width: 48em) {
  .container {
    max-width: calc(100% - 10% - 10%);
  }
}

/*___Desktop à partir de 1200px___*/
@media screen and (min-width: 75em) {
  .container {
    max-width: calc(100% - 15% - 15%);
  }
}

/*___Accessibilité : liens d'évitement___*/
.skip-links a{
  position : absolute;
  left: 50%;
  transform: translateX(-50%);
  display : inline-block;

  color : var(--bg);
  background-color: var(--text);

  padding : 1rem;
  margin-inline: .5rem;

  top : -100vh;
}

.skip-links a:focus{
  top : 2rem;
}

/*______________Navigation ______________*/
.nav{
  position : sticky;
  top : 0;
  z-index: 10000;
}

.nav .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

/*______________Header ______________*/

.main-header{
  display:grid;
}

.container-tif{
  order : -1;
  justify-content: center;
}

.container-tif img{
  margin-inline: auto;
}

/*___Tablette___*/
@media screen and (min-width: 48em) {
  .main-header{
    display : grid;
    grid-template-columns: 1fr 2fr;
    gap : 1.5rem;
  }

  .main-header-content{
    margin-inline: auto;
    align-content: center;
  }
}

/*___Desktop___*/
@media screen and (min-width: 75em) {

}

/*______________Main ______________*/

.languages, .about-skills, .call-to-action{
  display: flex;
  flex-wrap: wrap;
  gap : .5rem;
}

/* Haha ! Tout se déplace suivant la taille de l'écran.
Testons avec grid-template-areas !

Pour le moment pas de JS. Mais ça sera dynamique. Je fais comme si tout était ouvert puis je ferme. Je commenterais la fermeture.

Je met également un peu de couleur pour me repérer, un petit dégradé HSL, je n'ai pas testé le contraste. C'est uniquement pour le développement*/

.work-title{
  grid-area : w-title;
  background-color: #ff5b25;
}

.work p {
  grid-area : w-txt;
  background-color: #ff6c40;
}

.about-skills {
  grid-area : w-skills;
  background-color: #ff8059;
}

.more{
  grid-area: w-plus;
  background-color: #ff9373;
}

.code{
  grid-area: w-code;
  background-color: #ff9373;
}

.site{
  grid-area: w-site;
  background-color: #ff9373;
}

.work img{
  grid-area: w-img;
  background-color: #00c2c2;
}

/*___Mobile___*/
@media screen and (max-width: 47.99em) {
  .work {
    display: grid;
    grid-template-areas:
          "w-title  w-title w-title"
          "w-img    w-img   w-img"
          "w-plus   w-plus  w-plus"
          "w-txt    w-txt   w-txt"
          "w-skills w-code  w-site";
  }

    /*.site, .code, .work .text-content, .about-skills {
      display: none;
    }*/
}

/*___Tablette___*/
@media screen and (min-width: 48em) {
  .work {
    display: grid;
    grid-template-areas:
          "w-title  w-title"
          "w-img    w-site"
          "w-img    w-code"
          "w-img    w-plus"
          "w-txt    w-txt"
          "w-skills w-skills";
  }

  /*.text-content, .about-skills {
    display: none;
  }*/
}

/*___Desktop___*/
@media screen and (min-width: 75em) {
  .work {
    display: grid;
    grid-template-areas:
          "w-img    w-title  w-title  w-title"
          "w-img    w-txt    w-txt    w-txt"
          "w-img    w-plus   w-site   w-code"
          "w-skills w-skills w-skills w-skills";
  }

  /*.about-skills {
  display: none;
  }*/
}


