.container{
  margin-inline: auto;
  width: calc(100% - 1.5rem - 1.5rem);
}

/*___Tablette à partir de 768px___*/
@media screen and (min-width: 48em) {
  .container {
    max-width: calc(100% - 10% - 10%);
  }
}

/*___Desktop à partir de 1200px___*/
@media screen and (min-width: 75em) {
  .container {
    max-width: calc(100% - 15% - 15%);
  }
}

/*___Accessibilité : liens d'évitement___*/
.skip-links a{
  position : absolute;
  left: 50%;
  transform: translateX(-50%);
  display : inline-block;

  color : var(--bg);
  background-color: var(--text);

  padding : 1rem;
  margin-inline: .5rem;

  top : -100vh;
}

.skip-links a:focus{
  top : 2rem;
}

/*______________Navigation ______________*/
.nav{
  position : sticky;
  top : 0;
  z-index: 10000;
}

.nav .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
}

/*______________Header ______________*/

.main-header{
  display:grid;
}

.container-tif{
  order : -1;
  justify-content: center;
}

.container-tif img{
  margin-inline: auto;
}

/*___Tablette___*/
@media screen and (min-width: 48em) {
  .main-header{
    display : grid;
    grid-template-columns: 1fr 2fr;
    gap : 1.5rem;
  }

  .main-header-content{
    margin-inline: auto;
    align-content: center;
  }
}

/*___Desktop___*/
@media screen and (min-width: 75em) {

}

/*______________Main ______________*/

.languages, .about-skills, .call-to-action{
  display: flex;
  flex-wrap: wrap;
  gap : .5rem;
}

/* Haha ! Tout se déplace suivant la taille de l'écran.
Pour le moment pas de JS. Mais ça sera dynamique. Je fais comme si tout était fermé, puis ouvert. Certaines propriétés seront commentés*/

@media screen and (max-width: 36em) {
    .work, .work-content {
      display: grid;
    }

    .work-content img {
      order: -1;
      justify-content: center;
    }

    /*.site, .code, .work-content p, .about-skills {
      display: none;
    }*/
}

